<form class="form-inline">
      <input type="text" size="9" placeholder="Телефон" name="phone" class="input-small">
			<input type="text" size="9" placeholder="Имя" name="name" class="input-small"> &nbsp;
      <input type="text" placeholder="Фамилия" name="family" class="input-xlarge">
      <br>
      <button type="submit" class="btn">Добавить</button>
</form>