<form class="form-inline">
      <input type="text" size="9" placeholder="ИНН" name="inn" class="input-small">
			<input type="text" size="9" placeholder="КПП" name="kpp" class="input-small"> &nbsp;
      <label><input type="checkbox" value="1" name="is_ip" class="js-is_ip"> Физическое лицо</label>
      <input type="text" placeholder="Название" name="name" class="input-xlarge">
      <br>
      <button type="submit" class="btn">Добавить</button>
</form>