<tr>
  <td ><input class='js-value' type="text" name='name' value="<%=data.name%>" title="Имя"></td>
  <td><input class='js-value' type="text" name='title' value="<%=data.title%>" title="Титл"></td>
  <td>dsdddddddddddddddddddd</td>
  <td></td>
</tr>