<tr>
    <td><%= data.name %></td>
    <td><%= data.title%></td>
    <td>
    </td>
    <td>
        <a href=" " class="js-delete" title="Удалить позицию"><i class="icon-remove js-delete"></i></a>
    </td>
</tr>
