<p>Ok</p>
<form class="form-horizontal text">
            <input type="hidden" name='id' class="span1" value="<%=data.id%>">
            <input type="text" name='count' class="span1">
        </div>
    </div>

</form>

