<div>
<div style="display: none;" class="dropdown_head well js-add">
<%=template_body%>
  </div>
  <p class="slide">
        <a  class="btn-slide btn btn-success dropdown-toggle js-add-button ">
            <i class="icon-white icon-plus"></i>
            Добавить
            <span class="caret"></span>
        </a>
        <a class="btn-slide btn btn-success dropdown-toggle js-minus-button dropup hidden">
            <i class="icon-white icon-minus"></i>
            Скрыть
            <span class="caret"></span>
        </a>
  </p>
</div>