<div class="input-append">
    <input type="text" value='<%=data.value%>'  class="input-small js-filter" name="<%=data.name||'date'%>">
    <button type="button" class="btn js-filter-button">
        <i class="icon-calendar"></i>
    </button>
</div>