<div class="input-append pagination-centered margin_bottom_18">
  <input type="text" value='<%=data.value%>' class="span3 js-filter" id="" size="16" name="<%=data.name%>">
  <button class="btn js-button-click" type="button">
    <i class="icon-search"></i>
  </button>
</div>