<section id="about">
  <div class="page-header">
    <h1>О проекте</h1>
  </div>
  <p>Данная библиотека была разработана для работы со списками. Она реализована на  основе  современного
    web-инструментария  Backbone.js , Underscore.js, Jquery.js, JQuery.UI.js,
    Twitter.bootstrap.js.
    Библиотека обладает своим пространством имен (BackList)и поддерживает наследование.
    Так же на базе наследования реализовано наследование функциональных блоков (BackList.Mixins).
    Библиотека состоит из 5 модулей ( Models: {}, Collections: {}, Views: {}, Routes: {}, Mixins: {}). Четыре стандартных и модуль Mixins.
    Models и Collections содержат базовую модель(BackList.Models.Basic) и коллекцию (BackList.Models.Collections), они предоставляют стандартный интерфейс для взаимодействия c Views данной библиотеки.
  <p>
</section>