<div id="header" ></div>
<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">

      <ul class="nav nav-list bs-docs-sidenav affix">
        <li><a href="#about">О проекте</a></li>
        <li><a href="#base">Базовый список</a></li>
        <li><a href="#mixin">Миксин</a></li>
      </ul>
    </div>
    <div class="span9">
      <section id="about">
        <div class="page-header">
          <h1>Button groups</h1>
        </div>
        fdvsdvdfvd
        dfvdfv
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
      </section>
      <section id="base">
        <div class="page-header">
          <h1>Button groups</h1>
        </div>
        dfvdfvfdvdfvdfv
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
        dfvdfvfdv
        <br>
        edfgefdg
        <br>
      </section>
      <section id="mixin">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
    </div>
  </div>
</div>