<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

<header id="overview" class="subhead">
  <div class="container">
    <h1>Backbone list lib</h1>
    <p class="lead">Библиотека пользовательских компонент для для фреймворка Backbone.</p>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="span3  bs-docs-sidebar">

      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#about">О проекте<i class="icon-chevron-right"></i></a></li>
        <li><a href="#base">Базовый список<i class="icon-chevron-right"></i></a></li>

        <li><a href="#mixin2">Удаляемые<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin3">Drag and Drop<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin5">Редактируемые<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin8">Выбор действия<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin6">Подсписки<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin">Примешивание<i class="icon-chevron-right"></i></a></li>

        <li><a href="#mixin7">Комбин. функ.<i class="icon-chevron-right"></i></a></li>

        <li><a href="#mixin9">Живой поиск<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin10">Переключатель<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin11">Datapicker<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin12">Добавление<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin13">Форма ввода<i class="icon-chevron-right"></i></a></li>
      </ul>
    </div>
    <div class="span9">
    <%=render 'partial_0'%>
    <%=render 'partial_1'%>
    <%=render 'partial_2'%>
    <%=render 'partial_3'%>
      <section id="mixin5">
        <div class="page-header">
          <h1>Редактируемые</h1>
        </div>
        <h3>Объявление</h3>
        <pre>
TiragSales.Views.UsersWithEdit = Backbone.ViewListWithEdit.extend({
    initialize:function () {
        this.proto();
    },
    render:function () {
        this._render(this.$el, this.collection, this._item, 'list');
        return this;
    },
    _item:Backbone.ViewItem.extend({
        template:JST['users/item_with_edit'],
        template_not_item:JST['users/not_item'],
        tagName:"tr",
        initialize:function (options) {
            this.proto(options);
        }
    })
});
        </pre>
        <h3>Вызов</h3>
        <pre>
        $(function(){
             var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
             new TiragSales.Views.UsersWithEdit({el: $('#list_3').get(0), collection : collection})
        })
        </pre>
        <script type="text/javascript">
            $(function(){
                var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
                new TiragSales.Views.UsersWithEdit({el: $('#list_3').get(0), collection : collection})
            })

        </script>
        <h3>Пример</h3>
        <table class="table-bordered table" id="list_3">

        </table>
      </section>
      <section id="mixin8">
        <div class="page-header">
          <h1>Выбор действия</h1>

        </div>
        <h3>Объявление</h3>
        <pre>
TiragSales.Views.UsersWithSelect = Backbone.ViewListWithEdit.extend({
    initialize:function () {
        this.proto();
    },
    render:function () {
        this._render(this.$el, this.collection, this._item, 'list');
        return this;
    },
    _item:Backbone.ViewItem.extend({
        template:JST['users/item_with_edit'],
        template_not_item:JST['users/not_item'],
        tagName:"tr",
        initialize:function (options) {
            this.proto(options);
        }
    })
});
        </pre>
        <h3>Вызов</h3>
        <pre>
        $(function(){
             var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
             new TiragSales.Views.UsersWithSelect({el: $('#list_6').get(0), collection : collection})
        })
        </pre>
        <script type="text/javascript">
            $(function(){
                var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
                new TiragSales.Views.UsersWithSelect({el: $('#list_6').get(0), collection : collection})
            })

        </script>
        <h3>Пример</h3>
        <table class="table-bordered table" id="list_6">

        </table>

      </section>
      <section id="mixin6">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin">
        <div class="page-header">
          <h1>Примешивание</h1>

        </div>
      </section>
      <section id="mixin7">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin9">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin10">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin11">
        <div class="page-header">
          <h1>Datapicker</h1>
        </div>

        <h3>Вызов</h3>
        <pre>
$(function(){
   var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
   new TiragSales.Views.UsersWithSelect({el: $('#list_11').get(0), collection : collection})
   new Backbone.View.FilterDate({el: $('#item_11').get(0),model: {name:'date_to',value:''}, collection: collection})
           })</pre>
        <script type="text/javascript">
            $(function(){
                var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
                new TiragSales.Views.UsersWithModal({el: $('#list_11').get(0), collection : collection})
                new BackList.Views.FilterDate({el: $('#item_11').get(0),model: {name:'date_to',value:''}, collection: collection})
                new BackList.Views.Filter({el: $('#item_12').get(0),model: {name:'filter',value:''}, collection: collection})
                new BackList.Views.Checked({el: $('#item_13').get(0),model:{type: 'checkbox',name:'filter', items: [{value:'1',title:'1'},{value:'2',title:'2'}]}, collection: collection})
                new BackList.Views.Modal({el: $('#item_14').get(0),model : {title : "Количество"},template:JST['users/modal'], collection: collection})
                new BackList.Views.AddItem({el: $('#item_15').get(0),model : {title : "Количество"},template:JST['users/add_item_body'], collection: collection})


            })

        </script>
        <h3>Пример</h3>
        <div id="item_11"></div>
        <div id="item_12"></div>
        <div id="item_13"></div>
        <div id="item_14"></div>
        <div id="item_15"></div>
        <table class="table-bordered table" id="list_11">

        </table>
      </section>
      <section id="mixin12">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin13">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="container">
    <p>Designed and built with all the love in the world by <a target="_blank" href="http://twitter.com/mdo">@mdo</a> and <a target="_blank" href="http://twitter.com/fat">@fat</a>.</p>
    <p>Code licensed under <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="footer-links">
      <li><a href="http://blog.getbootstrap.com">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
    </ul>
  </div>
</footer>

